# Data Science tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List development environment open source tools used in Data Science
- A simple arithmetic expression to multiply then add integers
- An arithmetic expression to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Keras
3. Tensorflow
4. Pytorch
5. Pandas
6. Numpy

| Data Science Tools |
|--------------------|
|Jupyter|
|Jupyter lab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = 200/60
hours

3.3333333333333335

## Author
Farnoush Karimi